* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* FOOTER */

.footer-section a.font-footer-list {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white; 
    text-decoration: none; 
}

.footer-section a.font-footer-list:hover {
    text-decoration: underline;
}