/* BODY & CONTENT CARD */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.content-card {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



/* FOOTER */

.footer-section a.font-footer-list {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white; 
    text-decoration: none; 
}

.footer-section a.font-footer-list:hover {
    text-decoration: underline;
}



/* BUTTONS */

button img {
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.button-black {
    padding: 10px 20px;
    background-color: #111827;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

.button-black:hover {
    background-color: #374151;
}

.button-grey {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

.button-grey:hover {
    background-color: #5c636a;
}

.button-red {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

.button-red:hover {
    background-color: #bb2d3b;
}



/* FORM */

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="url"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #111827;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #374151;
}


/* NAVIGATION BAR (Marcus)  */
.nb-left-container {
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    width: 19%;
    height: 100vh;
    border-right: 3px solid #ccc;
}

.nb-mainpages-container {
    width: 100%;
    height: 14%;
    padding: 6px;
}

.nb-mainpages-home,
.nb-mainpages-recruitment {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 5px 0;
}

#nb-forumicon,
#nb-resumeicon,
#nb-infoicon,
#nb-faqicon,
#nb-scalesicon,
#nb-notificon,
#nb-listicon,
#nb-personicon,
#nb-hearticon,
#nb-bookmarkicon
{
    width: 40px;
    height: 40px;
    margin-left: 40px;
}

.nb-mainpages-home h2, 
.nb-mainpages-recruitment h2,
.nb-resources-aboutus h2,
.nb-resources-faqs h2,
.nb-resources-tnc h2,
.nb-otherpages-notif h2,
.nb-otherpages-applicationlisting h2,
.nb-otherpages-applicantlisting h2,
.nb-otherpages-likedposts h2,
.nb-otherpages-bookmark h2
{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 4px 0 0 5px;
}

.nb-left-container a {
    text-decoration: none;
    color: #000;
}

.nb-left-container hr {
    border: 1.5px solid #ccc;
    margin: 14px auto;
    width: 87%;
}

.nb-resources-container {
    width: 100%;
    height: 21%;
    padding: 6px;
}

.nb-left-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #666;
    font-size: 22px;
    margin: 10px 0 10px 20px;
}

.nb-resources-aboutus,
.nb-resources-faqs,
.nb-resources-tnc {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33.33%;
}

.nb-mainpages-home:hover,
.nb-mainpages-recruitment:hover,
.nb-resources-aboutus:hover,
.nb-resources-faqs:hover,
.nb-resources-tnc:hover,
.nb-otherpages-notif:hover,
.nb-otherpages-applicationlisting:hover,
.nb-otherpages-applicantlisting:hover,
.nb-otherpages-likedposts:hover,
.nb-otherpages-bookmark:hover
{
    background-color: #d2e9ff;
    transition: background-color 0.3s ease;
}

.nb-otherpages-container {
    width: 100%;
    height: 35%;
    padding: 6px;
}

.nb-otherpages-notif,
.nb-otherpages-applicationlisting,
.nb-otherpages-applicantlisting,
.nb-otherpages-likedposts,
.nb-otherpages-bookmark
 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}



/* profile.html */

.profile {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.profile-img {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-desc h2 {
    display: inline-flex;
    align-items: center;
}

.profile-desc p {
    margin-top: 8px;
    font-size: 1rem;
    color: #666;
}

.verify-badge, .role-badge {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
}

.verify-badge {
    background-color: #5796CC;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.verify-badge img {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

.role-badge {
    background-color: grey;
    color: white;
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 0.875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.profile-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50%;
}

.profile-btn button {
    width: 100%;
    background-color: #5796CC;
    text-align: center;
}

.profile-btn button:hover {
    background-color: #3D6D99;
}

.profile-btn-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.btn-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navigation {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.navigation a {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.post {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post-attr {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-title {
    padding: 10px 20px;
    margin-top: 5px;
}

.post-img {
    padding: 10px 20px;
    margin-top: 10px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-inter {
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}



/* settings.html */

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-section {
    background-color: #fff;
    padding: 40px; /* Padding intentionally set to 40px instead of 20px */
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
}

.button-component {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    width: 50%; /* Width is 50% to ensure sufficient spacing between label and checkbox */
}

.checkbox-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* notification.html */

.card-section p, .reset-password-card p {
    margin-top: 20px;
    color: #666;
}

.card-section a {
    text-decoration: none;
    font-weight: bold;
    color: #666;
}

.card-section a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #666;
}



/* resetpassword.html */

.reset-password-flow {
    margin-bottom: 20px;
}

.reset-password-card {
    background-color: #fff;
    padding: 40px; /* Padding intentionally set to 40px instead of 20px */
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



/* dashboard.html */

.dashboard-filter {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.filter {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-filter {
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #71717A;
    cursor: pointer;
    display: inline-block;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button-filter:focus {
    background-color: #212121;
    color: #ffffff;
    text-decoration: none;
}

.dashboard-wrap p {
    margin-bottom: 10px;
}

.dashboard-row {
    margin: 0 -5px;
}

.dashboard-row:after {
    content: "";
    display: table;
    clear: both;
}

.dashboard-column-sm {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.dashboard-column-lg {
    float: left;
    width: 100%;
    padding: 0 10px;
    margin-top: 20px; /* Spacing between graph card and title */
}

.dashboard-card {
    padding: 16px;
    text-align: center;
    background-color: #e7e9eb;
    border: 1px solid #71717A;
    border-radius: 8px;
}

.dashboard-card h3 {
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .dashboard-column-sm {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}



/* events.html */

.events-card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
}

.events-card p {
    margin-top: 20px;
    color: #666;
}

.events-card a {
    text-decoration: none;
    font-weight: bold;
    color: #666;
}

.events-card a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #666;
}

.events-card sub {
    display: inline-block;
    margin-bottom: 20px;
}

.events-attr {
    flex: 1;
}

.events-img {
    flex-shrink: 0;
    margin-left: 20px;
}

.events-img img {
    width: 300px;
    height: 150px;
    object-fit: cover;
}