<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/src/favicon/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>About APNet</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #F7F7F7;
        }
    </style>
</head>
<body>

    <!-- HEADER -->
    <header>

        <div class="hb-main-container">

            <div class="hb-logo-container">
                <img src="../static/src/img/apnet-logo.png" alt="APNet logo" id="hb-logo-img">
            </div>

            <div class="hb-right-container">

                <a href="forum.html"><h1>Forum</h1></a>
                <a href="#"><h1>Recruitment</h1></a>
                <a href="aboutus.html"><h1>About Us</h1></a>
                <a href="faq.html"><h1>FAQ</h1></a>
                <a href="termsofservice.html"><h1>Terms of Service</h1></a> 
                <img src="../static/src/img/default-pfp.png" alt="Pfp" id="hb-pfp-img">

            </div>

        </div>

    </header>

    <div class="au-main-container">

        <div class="au-banner1">

            <div class="au-text-container1">
                <h1>What is APNet?</h1>
                <h2>APNet is Asia Pacific University's very own social media platform designed exclusively for APU personnel! Built by APU students, APNet helps you stay connected with fellow students and staff, whether through forums, event applications, recruitment opportunities, or even assignment help. Everything you need—networking, support, and resources—is right at your fingertips.</h2>
            </div>

            <div class="au-image-container1 ">
                <img src="../static/src/img/aboutus-eventcollage.png" alt="Event Collage" id="au-event-collage">
            </div>

        </div>
        
        <div class="au-banner2">
            
            <div class="au-image-container2">
                <img src="../static/src/img/aboutus-orgimage.png" alt="Coder image" id="au-org-img">
            </div>

            <div class="au-text-container2">
                <h1>Development Team</h1>
                <h2>The APNet development team consists of six passionate software engineering diploma students from APU, who came together to create the platform as our Final Year Project (FYP). To ensure efficiency, the team was divided into two specialized groups: front-end developers focused on user experience and design, while the back-end team handled server-side logic and database management. Additional information about the developers can be found below.</h2>
            </div>

        </div>

        <div class="au-banner3">

            <div class="au-dvpinfo-main-container">

                <div class="au-dvpinfo-text-container">
                    <h1>MEET THE DEVELOPERS</h1>
                </div>

                <div class="au-dvpinfo-flex-container">
                    
                    <div class="au-left-dvpinfo-container">

                        <div class="au-marcus-container">
                            <img src="../static/src/img/marcus.jpeg" alt="Marcus" id="au-marcus-img">
                            <h1>Marcus Chan Renzhi</h1>
                            <h2>Project Manager / Front-End Team</h2>
                            <h3>Project Manager for the APNet project. On the front-end team, in charge of designing the headers and footers for all pages, Forum page, About Us page, and Terms of Service page. Also in charge of ensuring every single page on APNet is mobile-responsive.</h3>
                        </div>
        
                        <div class="au-darren-container">
                            <img src="../static/src/img/darren.jpeg" alt="Darren" id="au-darren-img">
                            <h1>Kong Zheng Yang</h1>
                            <h2>Front-End Team</h2>
                            <h3>A member of the front-end team, in charge of designing the Login page, Register page, and Recruitment pages. Also in charge of designing the list of Reported Posts for Admins.</h3>
                        </div>
        
                        <div class="au-sean-container">
                            <img src="../static/src/img/sean.jpeg" alt="Sean" id="au-sean-img">
                            <h1>Sean Yap Shi Xuan</h1>
                            <h2>Back-End Team</h2>
                            <h3>A member of the back-end team, in charge of database management and querying. Created the APNet database and integrated it into the website.</h3>
                        </div>
        
                    </div>
                    
                    <div class="au-right-dvpinfo-container">
                        
                        <div class="au-yewshan-container">
                            <img src="../static/src/img/yewshan.jpg" alt="Yew Shan" id="au-yewshan-img">
                            <h1>Ooi Yew Shan</h1>
                            <h2>Front-End Team</h2>
                            <h3>A member of the front-end team, in charge of designing the Settings page, Profile pages, FAQ page, and the Reset Password page for regular users. Also in charge of designing the dashboard, Report Generation page, and list of Banned Users page for Admins. </h3>
                        </div>
    
                        <div class="au-karlson-container">
                            <img src="../static/src/img/karlson.jpg" alt="Yew Shan" id="au-yewshan-img">
                            <h1>Karlson Thien</h1>
                            <h2>Back-End Team</h2>
                            <h3>A member of the back-end team, in charge of the server-side logic for APNet. In charge of creating end points for every page and linking every APNet page together.</h3>
                        </div>
    
                        <div class="au-jeremiah-container">
                            <img src="../static/src/img/jeremiah.jpg" alt="Yew Shan" id="au-jeremiah-img">
                            <h1>Jeremiah Sii Yii</h1>
                            <h2>QA Tester</h2>
                            <h3>The Quality Assessment (QA) Tester for the APNet website. In charge of testing every page after it was fully implemented and ensuring that all features function as intended.</h3>
                        </div>
    
                    </div>

                </div>

            </div>

        </div>

    </div>

    <footer>

        <div class="fb-main-container">

            <div class="fb-logo-container">
                <img src="../static/src/img/apnet-logo.png" alt="APNet" id="fb-logo-img">
            </div>

            <div class="fb-github-container">
                <h1>GitHub Accounts</h1>
                <ul>
                    <li><a href="https://github.com/WaterproofS0cks">Marcus Chan</a></li>
                    <li><a href="https://github.com/yewshanooi">Yew Shan</a></li>
                    <li><a href="https://github.com/Synix38">Zheng Yang</a></li>
                    <li><a href="https://github.com/ProlexicGT">Karlson Thien</a></li>
                    <li><a href="https://github.com/HyperUniverse1st">Sean Yap</a></li>
                    <li><a href="https://github.com/BakaJerry">Jeremiah Sii</a></li>
                </ul>
            </div>

            <div class="fb-linkedin-container">
                <h1>LinkedIn Profiles</h1>
                <ul>
                    <li><a href="https://www.linkedin.com/in/marcuschanrenzhi/">Marcus Chan</a></li>
                    <li><a href="https://www.linkedin.com/in/yewshanooi/">Yew Shan</a></li>
                    <li><a href="https://www.linkedin.com/in/darren-kong-zheng-yang-65a23834b/">Zheng Yang</a></li>
                    <li><a href="https://www.linkedin.com/in/karlsonthien/">Karlson Thien</a></li>
                    <li><a href="https://www.linkedin.com/in/sean-yap-9b69022a2">Sean Yap</a></li>
                    <li><a href="https://www.linkedin.com/in/jeremiah-sii-4272232a3/">Jeremiah Sii</a></li>
                </ul>
            </div>

        </div>

    </footer>
</body>
</html>