<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/src/favicon/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>About APNet</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            max-width: 100%;
            margin-top: 100px;
            background-color: #F7F7F7;
        }
    </style>
</head>
<body>
    <div class="au-main-container">

        <div class="au-banner1">

            <div class="au-text-container1">
                <h1>What is APNet?</h1>
                <h2>APNet is Asia Pacific University's very own social media platform designed exclusively for APU personnel! Built by APU students, APNet helps you stay connected with fellow students and staff, whether through forums, event applications, recruitment opportunities, or even assignment help. Everything you need—networking, support, and resources—is right at your fingertips.</h2>
            </div>

            <div class="au-image-container1 ">
                <img src="../static/src/img/aboutus-eventcollage.png" alt="Event Collage" id="au-event-collage">
            </div>

        </div>
        
        <div class="au-banner2">
            
            <div class="au-image-container2">
                <img src="../static/src/img/aboutus-orgimage.png" alt="Coder image" id="au-org-img">
            </div>

            <div class="au-text-container2">
                <h1>Development Team</h1>
                <h2>The APNet development team consists of six passionate software engineering diploma students from APU, who came together to create the platform as our Final Year Project (FYP). To ensure efficiency, the team was divided into two specialized groups: front-end developers focused on user experience and design, while the back-end team handled server-side logic and database management. Additional information about the developers can be found below.</h2>
            </div>

        </div>

        <div class="au-dvpinfo-container">
            
        </div>
    </div>
</body>
</html>