<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/src/favicon/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>About APNet</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            max-width: 100%;
            padding-top: 85px;
            background-color: #F7F7F7;
        }
    </style>
</head>
<body>
    <div class="au-main-container">

        <div class="au-banner1">

        </div>
        asdasdasdad
        <div class="au-banner2">

        </div>
    </div>
</body>
</html>