{% extends "header-b.html" %}
{% block title %}Applications{% endblock title %}
{% block content %}
<body>
    <div class="applications-content-card">
        <div class="card-header">
            <a href="/user/applications" class="btn-icon">
                <img src="{{ url_for('static', filename='src/icon/icons8-back-96.png') }}" alt="Back Icon">
            </a>
            <h2>Applications - Applied</h2>
        </div>

        <!-- This is a single application post -->

        <!-- Add additional application posts here -->

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const applicationsContentCard = document.querySelector('.applications-content-card');
    
            function loadApplications() {
                fetch('/load_application', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.html) {
                        applicationsContentCard.insertAdjacentHTML('beforeend', data.html);
                    } else {
                        console.error("No HTML content received");
                    }
                })
                .catch(error => {
                    console.error("Error fetching applications:", error);
                });
            }
    
            loadApplications();
        });
    </script>

</body>
{% endblock content %}