{% extends "header-b.html" %}
{% block title %}Applications{% endblock title %}
{% block content %}
<body>
    <div class="applications-content-card">
        <div class="card-header">
            <a href="profile" class="btn-icon">
                <img src="{{ url_for('static', filename='src/icon/icons8-back-96.png') }}" alt="Back Icon">
            </a>
            <h2>Applications</h2>
        </div>

        <div class="activity-card">
            <div class="activity-flex">
                <div class="activity-attr">
                    <h3>Joined Applications</h3>
                    <p>Click here to view all the applications that you have joined.</p>
                </div>
                <div class="applications-menu-img">
                    <img src="{{ url_for('static', filename='src/icon/noun-summary-3082102-dark-blue.png') }}" alt="Joined Applications">
                </div>
            </div>
        </div>

        <div class="activity-card">
            <div class="activity-flex">
                <div class="activity-attr">
                    <h3>Created Applications</h3>
                    <p>Click here to view all the applications that you have created.</p>
                </div>
                <div class="applications-menu-img">
                    <img src="{{ url_for('static', filename='src/icon/noun-add-notes-3971091-dark-blue.png') }}" alt="Created Applications">
                </div>
            </div>
        </div>

    </div>
</body>
{% endblock content %}