{% extends "header-b.html" %}
{% block title %}Applications{% endblock title %}
{% block content %}
<body>
    <div class="applications-content-card">
        <div class="card-header">
            <a href="/user/applications" class="btn-icon">
                <img src="{{ url_for('static', filename='src/icon/icons8-back-96.png') }}" alt="Back Icon">
            </a>
            <h2>Applications - Created</h2>
        </div>

        <!-- This is a single application post -->
        <div class="activity-card">
            <div class="activity-flex">
                <div class="activity-attr">
                    <sub>Date</sub>
                    <h3>This is an application</h3>

                    <div class="applications-activity-img-responsive">
                        <img src="{{ url_for('static', filename='src/img/default-events.jpg') }}" alt="Placeholder Image">
                    </div>

                    <p>This is a description of an event that you have created</p>
                </div>
                <div class="applications-activity-img">
                    <img src="{{ url_for('static', filename='src/img/default-events.jpg') }}" alt="Placeholder Image">
                </div>
            </div>
            <div class="activity-margin">
                <h3>Applicants</h3>
                <div class="applicant-flex">
                    <!-- The first four applicants will be displayed by default -->
                    <a href="#" class="click-card-url">
                        <div class="applicant-card" id="applicant-accepted">Emily</div>
                    </a>
                    <a href="#" class="click-card-url">
                        <div class="applicant-card" id="applicant-rejected">Ryan</div>
                    </a>
                    <a href="#" class="click-card-url">
                        <div class="applicant-card">Olivia</div>
                    </a>
                    <a href="#" class="click-card-url">
                        <div class="applicant-card">Lucas</div>
                    </a>
                    <!-- Subsequent applicants will be hidden until the user press "View more" -->
                    <a href="#" class="click-card-url">
                        <div class="applicant-card applicant-extra">Sophia</div>
                    </a>
                    <a href="#" class="click-card-url">
                        <div class="applicant-card applicant-extra">Ethan</div>
                    </a>
                    <a href="#" class="click-card-url">
                        <div class="applicant-card applicant-extra">Ava</div>
                    </a>
                    <a href="#" class="click-card-url">
                        <div class="applicant-card applicant-extra">Scott</div>
                    </a>
                </div>
                <p id="applicant-view" class="applicant-view" onclick="viewToggle()">View more</p>
            </div>
        </div>

        <!-- Add additional application posts here -->

    </div>

    <script>
        function viewToggle() {
            const additionalApplicants = document.querySelectorAll('.applicant-extra');
            const viewMoreBtn = document.getElementById('applicant-view');

            additionalApplicants.forEach(item => {
                item.style.display = (item.style.display === 'none' || item.style.display === '') ? 'flex' : 'none';
            });

            if (viewMoreBtn.innerText === 'View more') {
                viewMoreBtn.innerText = 'View less';
            } else {
                viewMoreBtn.innerText = 'View more';
            }
        }
    </script>
</body>
{% endblock content %}