{% extends "header-b.html" %}
{% block title %}Applications{% endblock title %}
{% block content %}
<body>
    <div class="applications-content-card">
        <div class="card-header">
            <a href="profile" class="btn-icon">
                <img src="{{ url_for('static', filename='src/icon/icons8-back-96.png') }}" alt="Back Icon">
            </a>
            <h2>Applications</h2>
        </div>

        <a href="{{ url_for('user_profile.applicationsApplied') }}" class="applications-card-url">
            <div class="activity-card" onmouseover="changeImage(this, 'applied')" onmouseout="resetImage(this, 'applied')">
                <div class="activity-flex">
                    <div class="activity-attr">
                        <h3>Applied</h3>
                        <p>Click here to view all the events that you have applied.</p>
                    </div>
                    <div class="applications-menu-img">
                        <img src="{{ url_for('static', filename='src/icon/noun-summary-3082102-black.png') }}" alt="Applied Applications" class="activity-image" id="applied-image">
                    </div>
                </div>
            </div>
        </a>
        
        <a href="{{ url_for('user_profile.applicationsCreated') }}" class="applications-card-url">
            <div class="activity-card" onmouseover="changeImage(this, 'created')" onmouseout="resetImage(this, 'created')">
                <div class="activity-flex">
                    <div class="activity-attr">
                        <h3>Created</h3>
                        <p>Click here to view all the events that you have created.</p>
                    </div>
                    <div class="applications-menu-img">
                        <img src="{{ url_for('static', filename='src/icon/noun-add-notes-3971091-black.png') }}" alt="Created Applications" class="activity-image" id="created-image">
                    </div>
                </div>
            </div>
        </a>        

    </div>

    <script>
        function changeImage(element, type) {
            const img = element.querySelector('.activity-image');
            if (type === 'applied') {
                img.src = "{{ url_for('static', filename='src/icon/noun-summary-3082102-dark-blue.png') }}";
            } else if (type === 'created') {
                img.src = "{{ url_for('static', filename='src/icon/noun-add-notes-3971091-dark-blue.png') }}";
            }
        }

        function resetImage(element, type) {
            const img = element.querySelector('.activity-image');
            if (type === 'applied') {
                img.src = "{{ url_for('static', filename='src/icon/noun-summary-3082102-black.png') }}";
            } else if (type === 'created') {
                img.src = "{{ url_for('static', filename='src/icon/noun-add-notes-3971091-black.png') }}";
            }
        }
    </script>
</body>
{% endblock content %}