{% extends "header-b.html" %}
{% block title %}Bookmarks{% endblock title %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/PostFunction.js') }}" data-type="post" data-page="bookmark" data-container="postContainer" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/DropDownFunction.js') }}" data-type="post"></script>

<body>
    <div class="content-card">
        <div class="card-header">
            <a href="profile" class="btn-icon">
                <img src="{{ url_for('static', filename='src/icon/icons8-back-96.png') }}" alt="Back Icon">
            </a>
            <h2>Bookmarks</h2>
        </div>

        <div class="profile-fm-main-container" id="postContainer">
            <div id="no-more-posts" style="display: none; text-align: center; font-size: 20px;">No more posts to load</div>
        </div>

    </div>
</body>
{% endblock content %}