<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../static/src/favicon/favicon.ico">
        <link rel="stylesheet" href="../static/style.css">    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Create Post</title>
</head>
<body>
    <header>
        <div class="hb-main-container">

            <div class="hb-logo-container">
                <img src="../static/src/img/apnet-logo.png" alt="APNet logo" id="hb-logo-img">
            </div>

            <div class="hb-right-container">

                <a href="forum.html"><h1>Forum</h1></a>
                <a href="#"><h1>Recruitment</h1></a>
                <a href="aboutus.html"><h1>About Us</h1></a>
                <a href="faq.html"><h1>FAQ</h1></a>
                <a href="termsofservice.html"><h1>Terms of Service</h1></a> 
                <img src="../static/src/img/default-pfp.png" alt="Pfp" id="hb-pfp-img">

            </div>

            <div class="hb-responsive-right-container">
                <img src="../static/src/icon/icons8-menu-vertical-96.png" alt="help">
            </div>

        </div>
    </header>

    <div class="crp-main-container">
        <h1>Create a New Post</h1>
        <hr class="crp-hr1">
    </div>

    <footer>
        <div class="header-footer-main-container">
            
            <div class="header-footer-container1">
                <img src="../static/src/icon/icons8-forum-blue-50.png" alt="Forum Icon" class="header-footer-forumblueicon">
                <h2>Forum</h2>
            </div>
    
            <div class="header-footer-container2">
                <img src="../static/src/icon/icons8-resume-white-50.png" alt="Recruit Icon" class="header-footer-recruitwhiteicon">
                <h2>Recruitment</h2>
            </div>
    
            <div class="header-footer-container3">
                <img src="../static/src/icon/icons8-notification-white-48.png" alt="Notification Icon" class="header-footer-notifwhiteicon">
                <h2>Notifications</h2>
            </div>
    
            <div class="header-footer-container4">
                <a href="profile.html"><img src="../static/src/img/default-pfp.png" alt="Profile Pic Icon" class="header-footer-pfpicon"></a>
                <h2>Profile</h2>
            </div>
    
        </div>
    </footer>
</body>
</html>