<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/src/favicon/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>CreatePost</title>

    <style>
        html {
            height: 100%;
        }
        body {
            margin-top: 70px;
        }
    </style>
</head>
<body>
    <header>
        <div class="ha-main-container">

            <div class="ha-logo-container">
                <a href="/"><img src="../static/src/img/apnet-logo.png" id="ha-logo-img"></a>
            </div>

            <div class="ha-search-container">
                <input type="text" id="ha-searchbar" placeholder="Search APNet...">
            </div>
            
            <div class="ha-right-container">

                <div class="ha-createpost-container">
                    <a href="forumspecific.html">                        
                        <img src="../static/src/icon/icons8-plus-48.png" alt="Plus" id="ha-plusicon">
                        <h2>Create Post</h2>
                    </a>
                </div>

                <img src="../static/src/icon/icons8-notification-50.png" alt="Notification Icon" id="ha-notificon">
                <div class="fm-notif-main-container">
                    <h2>Notifications</h2>
                    <!-- INSERT NOTIFICATIONS -->
                    <ul>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
            
                    </ul>
            
                    <h3><-------- NO NEW NOTIFICATIONS --------></h3>
                </div>

                <img src="../static/src/img/default-pfp.png" alt="Pfp" id="ha-pfpimg">
                <div class="ha-popup-menu" id="ha-popup-menu">
                    <ul>
                        <li><a href="settings.html">Settings</a></li>
                        <li><a href="profile.html">My Profile</a></li>
                        <li><a href="bookmarkedposts.html">Bookmarks</a></li>
                        <li><a href="logout.html">Logout</a></li>
                    </ul>
                </div>
            </div>

            <div class="ha-right-responsive-container">
                <img src="../static/src/icon/icons8-search-60.png" id="ha-searchicon">
                <img src="../static/src/icon/icons8-menu-vertical-white-64.png" id="ha-menuicon">
            </div>

        </div>
    </header>

    <!-- NAV BAR -->
    <div class="nb-left-container">

        <h1 style="margin-top: 20px;">MAIN PAGES</h1>
    
        <div class="nb-mainpages-container">    

            <a href="#"><div class="nb-mainpages-home">
                 <img src="../static/src/icon/icons8-forum-darkblue-50.png" alt="Forum Default Icon" id="nb-forumicon">
                 <h2>Forum</h2>
            </div></a> 

            <a href="#"><div class="nb-mainpages-recruitment">
                <img src="../static/src/icon/icons8-resume-48.png" alt="Resume Default Icon" id="nb-resumeicon">
                <h2>Recruitment</h2>
            </div></a> 
        </div>

        <hr>

        <h1>OTHER PAGES</h1>

        <div class="nb-otherpages-container">

            <a href="#">
                <div class="nb-otherpages-applicationlisting">
                    <img src="../static/src/icon/icons8-list-48.png" alt="List Default Icon" id="nb-listicon">
                    <h2>View Application Listings</h2>
                </div>
            </a>

            <a href="#">
                <div class="nb-otherpages-applicantlisting">
                    <img src="../static/src/icon/icons8-name-tag-yellow-96.png" alt="Person Default Icon" id="nb-personicon">
                    <h2>View Applicants</h2>
                </div>
            </a>

            <a href="#">
                <div class="nb-otherpages-likedposts">
                    <img src="../static/src/icon/icons8-heart-red-50.png" alt="Heart Default Icon" id="nb-hearticon">
                    <h2>Liked Posts</h2>
                </div>
            </a>

            <a href="#">
                <div class="nb-otherpages-bookmark">
                    <img src="../static/src/icon/icons8-bookmark-evendarkergreen-500.png" alt="Bookmark Default Icon" id="nb-bookmarkicon">
                    <h2>Bookmarked Posts</h2>
                </div>
            </a>

        </div>

        <hr>

        <h1>RESOURCES</h1>

        <div class="nb-resources-container">
            
            <a href="aboutus"><div class="nb-resources-aboutus">
                <img src="../static/src/icon/icons8-info-coolcolour-50.png" alt="Info Default Icon" id="nb-infoicon">
                <h2>About Us</h2>
            </div></a>
          

            <a href="#"><div class="nb-resources-faqs">
                <img src="../static/src/icon/icons8-faq-gray-50.png" alt="FAQ Default Icon" id="nb-faqicon">
                <h2>FAQs</h2>
            </div></a>

            <a href="#"><div class="nb-resources-tnc">
                <img src="../static/src/icon/icons8-scales-48.png" alt="Scales Default Icon" id="nb-scalesicon">
                <h2>Terms and Conditions</h2>
            </div></a>

        </div>

    </div>

    <!-- CREATE POST CONTENT -->
    <div class="cp-main-container">
        <div class="cp-title-container">
            <h1>Create Post</h1>
        </div>
        
        <div class="cp-filter-container">

            <label for="cp-postSelect">Type of Post:</label>
            <select id="cp-postSelect" onchange="updateInputs()">
                <option value="forum">Forum</option>
                <option value="recruitment">Recruitment</option>
            </select>

        </div>

        <!-- FORUM FIELDS -->
        <form action="POST" id="cp-forum-form">
            <div id="cp-forumInputs">

                <h1>Image</h1>

                <div id="cp-forum-drop-area">
                    <div class="cp-forum-imagecontainer" id="cp-forum-imageview">
                        <input type="file" accept="image/*" id="cp-forum-input-file" hidden>
                        <img src="../static/src/icon/icons8-upload-to-cloud-100.png" alt="Cloud" id="cp-forum-cloudimg">
                        <h1>Drag file to upload</h1>
                        <h2>or</h2>
                        <button id="cp-forum-browsefilesbutton" onclick="document.getElementById('cp-forum-input-file').click(); return false;">Browse Files</button>
                        <h3>Max file size: <b>100MB</b></h3>
                        <h3>Supported file types: <b>JPG, JPEG, PNG, GIF</b></h3>
                    </div>
                </div>

                <h1>Caption</h1>
                <textarea name="" id="cp-forum-caption-text" placeholder="Enter your caption here..."></textarea>
                <div class="cp-forum-button-container">
                    <button class="cp-forum-post-button" id="cp-post-button">Post</button>
                </div>
            </div>
        </form>

        <!-- RECRUITMENT FIELDS -->
        <form action="POST" id="cp-recruitment-form">
            <div id="cp-recruitmentInputs">

                <h1>Title</h1>
                <input type="text" id="cp-recruit-title-text" placeholder="Enter your title here...">

                <h1>Image</h1>
                <div class="cp-recruit-imagecontainer">
                    <img src="../static/src/icon/icons8-upload-to-cloud-100.png" alt="Cloud" id="cp-recruit-cloudimg">
                    <h1>Drag file to upload</h1>
                    <h2>or</h2>
                    <button id="cp-recruit-browsefilesbutton">Browse Files</button>
                    <h3>Max file size: <b>100MB</b></h3>
                    <h3>Supported file types: <b>JPG, JPEG, PNG, GIF</b></h3>
                </div>

                <h1>Caption</h1>
                <textarea name="" id="cp-recruit-caption-text" placeholder="Enter your caption here..."></textarea>

                <div class="cp-recruit-button-container">
                    <button class="cp-recruit-post-button" id="cp-recruit-button">Post</button>
                </div>

            </div>
         </form>

    </div>

    <footer>
        
        <div class="header-footer-main-container">
            
            <div class="header-footer-container1">
                <img src="../static/src/icon/icons8-forum-blue-50.png" alt="Forum Icon" class="header-footer-forumblueicon">
                <h2>Forum</h2>
            </div>
    
            <div class="header-footer-container2">
                <img src="../static/src/icon/icons8-resume-white-50.png" alt="Recruit Icon" class="header-footer-recruitwhiteicon">
                <h2>Recruitment</h2>
            </div>
    
            <div class="header-footer-container3">
                <img src="../static/src/icon/icons8-notification-white-48.png" alt="Notification Icon" class="header-footer-notifwhiteicon">
                <h2>Notifications</h2>
            </div>
    
            <div class="header-footer-container4">
                <a href="profile.html"><img src="../static/src/img/default-pfp.png" alt="Profile Pic Icon" class="header-footer-pfpicon"></a>
                <h2>Profile</h2>
            </div>
    
        </div>
    
    </footer>


    <script>
        const dropAreaForum = document.getElementById('cp-forum-drop-area');
        const inputFileForum = document.getElementById('cp-forum-input-file');
        const imageViewForum = document.getElementById('cp-forum-imageview');

        function updateInputs() {
            const postSelect = document.getElementById('cp-postSelect');
            const forumInputs = document.getElementById('cp-forum-form');
            const recruitmentInputs = document.getElementById('cp-recruitment-form');
            const mainContainer = document.querySelector('.cp-main-container');

            if (postSelect.value === 'forum') {
                forumInputs.style.display = 'block'; 
                recruitmentInputs.style.display = 'none'; 
                mainContainer.classList.remove('recruitment-active');
            } else if (postSelect.value === 'recruitment') {
                forumInputs.style.display = 'none'; 
                recruitmentInputs.style.display = 'block'; 
                mainContainer.classList.add('recruitment-active'); 
            }
        }

        function uploadImage() {
            if (inputFileForum.files.length > 0) {
                let forumImgLink = URL.createObjectURL(inputFileForum.files[0]);
                imageViewForum.style.backgroundImage = `url(${forumImgLink})`; 
                imageViewForum.textContent = "";
            }
        }

        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropAreaForum.addEventListener(eventName, preventDefaults, false); 
            document.body.addEventListener(eventName, preventDefaults, false); 
        });

        dropAreaForum.addEventListener('dragover', highlight, false);
        dropAreaForum.addEventListener('dragleave', unhighlight, false);

        dropAreaForum.addEventListener('drop', handleDrop, false);

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        function highlight() {
            dropAreaForum.classList.add('highlight');
        }

        function unhighlight() {
            dropAreaForum.classList.remove('highlight');
        }

        function handleDrop(e) {
            let dt = e.dataTransfer;
            let files = dt.files;

            inputFileForum.files = files;

            uploadImage();
        }

        window.onload = updateInputs;
        inputFileForum.addEventListener("change", uploadImage);
    </script>
</body>
</html>