<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="src/favicon/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="content-card">
        <div class="card-header">
            <h2>Dashboard</h2>
            <sub>BETA</sub>
        </div>

        <div class="filter">
            <p>Filter by</p>
            <div class="dashboard-filter">
                <button class="button-filter">Daily</button>
                <button class="button-filter">Weekly</button>
                <button class="button-filter">Monthly</button>
                <button class="button-filter">All Time</button>
            </div>
        </div>

        <hr>

        <div class="card-section">
            <div class="dashboard-wrap">
                <div class="dashboard-row">
                    <h2>Overview</h2>
                </div>
                <div class="dashboard-row">
                    <p>Core Services</p>
                    <div class="dashboard-column-sm">
                        <div class="dashboard-card">
                            <h3>Total Users</h3>
                            <h1>1,234</h1>
                        </div>
                    </div>

                    <div class="dashboard-column-sm">
                        <div class="dashboard-card">
                            <h3>Total Posts</h3>
                            <h1>123</h1>
                        </div>
                    </div>
                </div>
                <div class="dashboard-row">
                    <p>Moderation</p>
                    <div class="dashboard-column-sm">
                        <div class="dashboard-card">
                            <h3>Banned Users</h3>
                            <h1>12</h1>
                        </div>
                    </div>
    
                    <div class="dashboard-column-sm">
                        <div class="dashboard-card">
                            <h3>Muted Users</h3>
                            <h1>23</h1>
                        </div>
                    </div>
                </div>
                <div class="dashboard-row">
                    <p>Third-party APIs</p>
                    <div class="dashboard-column-sm">
                        <div class="dashboard-card">
                            <h3>Uptime</h3>
                            <h1>99.97%</h1>
                            <sub>Powered by UptimeRobot</sub>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-section">
            <div class="dashboard-wrap">
                <div class="dashboard-row">
                    <h2>Charts</h2>
                    <div class="dashboard-column-lg">
                        <div class="dashboard-card">
                            <!-- [TODO] Add bar chart here using Python -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script>
        $('.button-filter').click(function() {
            $(this).toggleClass('focus');
        });
    </script>
</body>
</html>