{% extends "header-a.html" %}
{% block title %}Edit Forum Post{% endblock title %}
{% block content %}
<style>
    html {
        height: 100%;
    }
    body {
        margin-top: 70px;
    }
</style>

<body>
    <!-- NAV BAR -->
    <div class="nb-left-container">

        <h1 style="margin-top: 20px;">MAIN PAGES</h1>
    
        <div class="nb-mainpages-container">    

            <a href="/"><div class="nb-mainpages-home">
                 <img src="../static/src/icon/icons8-forum-darkblue-50.png" alt="Forum Default Icon" id="nb-forumicon">
                 <h2>Forum</h2>
            </div></a> 

            <a href="recruitment"><div class="nb-mainpages-recruitment">
                <img src="../static/src/icon/icons8-resume-48.png" alt="Resume Default Icon" id="nb-resumeicon">
                <h2>Recruitment</h2>
            </div></a> 
        </div>

        <hr>

        <h1>OTHER PAGES</h1>

        <div class="nb-otherpages-container">

            <a href="#">
                <div class="nb-otherpages-applicationlisting">
                    <img src="../static/src/icon/icons8-list-48.png" alt="List Default Icon" id="nb-listicon">
                    <h2>View Application Listings</h2>
                </div>
            </a>

            <a href="#">
                <div class="nb-otherpages-applicantlisting">
                    <img src="../static/src/icon/icons8-name-tag-yellow-96.png" alt="Person Default Icon" id="nb-personicon">
                    <h2>View Applicants</h2>
                </div>
            </a>

            <a href="user/likes">
                <div class="nb-otherpages-likedposts">
                    <img src="../static/src/icon/icons8-heart-red-50.png" alt="Heart Default Icon" id="nb-hearticon">
                    <h2>Liked Posts</h2>
                </div>
            </a>

            <a href="user/bookmarks">
                <div class="nb-otherpages-bookmark">
                    <img src="../static/src/icon/icons8-bookmark-evendarkergreen-500.png" alt="Bookmark Default Icon" id="nb-bookmarkicon">
                    <h2>Bookmarked Posts</h2>
                </div>
            </a>

        </div>

        <hr>

        <h1>RESOURCES</h1>

        <div class="nb-resources-container">
            
            <a href="aboutus"><div class="nb-resources-aboutus">
                <img src="../static/src/icon/icons8-info-coolcolour-50.png" alt="Info Default Icon" id="nb-infoicon">
                <h2>About Us</h2>
            </div></a>
          

            <a href="faq"><div class="nb-resources-faqs">
                <img src="../static/src/icon/icons8-faq-gray-50.png" alt="FAQ Default Icon" id="nb-faqicon">
                <h2>FAQs</h2>
            </div></a>

            <a href="terms"><div class="nb-resources-tnc">
                <img src="../static/src/icon/icons8-scales-48.png" alt="Scales Default Icon" id="nb-scalesicon">
                <h2>Terms and Conditions</h2>
            </div></a>

        </div>

    </div>

    <!-- EDIT POST CONTENT -->
    <div class="efp-main-container">
        <div class="efp-title-container">
            <h1>Edit Forum Post</h1>
        </div>

        <!-- FORUM FIELDS -->
        <form action="/upload" method="POST" enctype="multipart/form-data" id="efp-forum-form">
            <div id="efp-forumInputs">

                <div class="efp-image-title-container">
                    <h1>Image</h1>
                    <input type="file" id="efp-changeimage-button" hidden>
                    <label for="efp-changeimage-button" class="efp-change-button">Change</label>
                </div>

                <div id="efp-forum-drop-area">
                    <div class="efp-forum-imagecontainer" id="efp-forum-imageview">
                        <img src="../static/src/img/randomimage2.jpg" alt="" style="width: 100%; height: 100%; object-fit: contain;">
                    </div>
                </div>
        
                <h1>Caption</h1>
                <textarea name="caption" id="efp-forum-caption-text" placeholder="Enter your caption here..."></textarea>
        
                <div class="efp-forum-button-container">
                    <button class="efp-forum-post-button" id="efp-post-button" type="submit">Post</button>
                </div>
            </div>
        </form>
    </div>

    <footer>
        
        <div class="header-footer-main-container">
            
            <div class="header-footer-container1">
                <img src="../static/src/icon/icons8-forum-blue-50.png" alt="Forum Icon" class="header-footer-forumblueicon">
                <h2>Forum</h2>
            </div>
    
            <div class="header-footer-container2">
                <img src="../static/src/icon/icons8-resume-white-50.png" alt="Recruit Icon" class="header-footer-recruitwhiteicon">
                <h2>Recruitment</h2>
            </div>
    
            <div class="header-footer-container3">
                <img src="../static/src/icon/icons8-notification-white-48.png" alt="Notification Icon" class="header-footer-notifwhiteicon">
                <h2>Notifications</h2>
            </div>
    
            <div class="header-footer-container4">
                <a href="profile.html"><img src="../static/src/img/default-pfp.png" alt="Profile Pic Icon" class="header-footer-pfpicon"></a>
                <h2>Profile</h2>
            </div>
    
        </div>
    
    </footer>


    <script>
        const dropAreaForum = document.getElementById('efp-forum-drop-area');
        const inputFileForum = document.getElementById('efp-changeimage-button');
        const imageViewForum = document.getElementById('efp-forum-imageview').querySelector('img');
    
        function uploadForumImage() {
            if (inputFileForum.files.length > 0) {
                let forumImgLink = URL.createObjectURL(inputFileForum.files[0]);
                imageViewForum.src = forumImgLink; 
                imageViewForum.style.display = 'block'; 
            }
        }
    
        // Drag and drop functionality
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropAreaForum.addEventListener(eventName, preventDefaults, false); 
            document.body.addEventListener(eventName, preventDefaults, false); 
        });
    
        dropAreaForum.addEventListener('dragover', highlight, false);
        dropAreaForum.addEventListener('dragleave', unhighlight, false);
        dropAreaForum.addEventListener('drop', handleForumDrop, false);
    
        function handleForumDrop(e) {
            let dt = e.dataTransfer;
            let files = dt.files;
    
            inputFileForum.files = files;
            uploadForumImage();
        }
    

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }
    
        function highlight(e) {
            e.currentTarget.classList.add('highlight');
        }
    
        function unhighlight(e) {
            e.currentTarget.classList.remove('highlight');
        }
    
        inputFileForum.addEventListener("change", uploadForumImage);
        
    </script>

</body>
{% endblock content %}