<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/src/favicon/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Edit Recruitment Post</title>

    <style>
        html {
            height: 100%;
        }
        body {
            margin-top: 70px;
        }
    </style>
</head>
<body>
    <header>
        <div class="ha-main-container">

            <div class="ha-logo-container">
                <a href="/"><img src="../static/src/img/apnet-logo.png" id="ha-logo-img"></a>
            </div>

            <div class="ha-search-container">
                <input type="text" id="ha-searchbar" placeholder="Search APNet...">
            </div>
            
            <div class="ha-right-container">

                <div class="ha-createpost-container">
                    <a href="recruitmentspecific.html">                        
                        <img src="../static/src/icon/icons8-plus-48.png" alt="Plus" id="ha-plusicon">
                        <h2>Create Post</h2>
                    </a>
                </div>

                <img src="../static/src/icon/icons8-notification-50.png" alt="Notification Icon" id="ha-notificon">
                <div class="fm-notif-main-container">
                    <h2>Notifications</h2>
                    <!-- INSERT NOTIFICATIONS -->
                    <ul>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
            
                    </ul>
            
                    <h3><-------- NO NEW NOTIFICATIONS --------></h3>
                </div>

                <img src="../static/src/img/default-pfp.png" alt="Pfp" id="ha-pfpimg">
                <div class="ha-popup-menu" id="ha-popup-menu">
                    <ul>
                        <li><a href="settings.html">Settings</a></li>
                        <li><a href="profile.html">My Profile</a></li>
                        <li><a href="bookmarkedposts.html">Bookmarks</a></li>
                        <li><a href="logout.html">Logout</a></li>
                    </ul>
                </div>
            </div>

            <div class="ha-right-responsive-container">
                <img src="../static/src/icon/icons8-search-60.png" id="ha-searchicon">
                <img src="../static/src/icon/icons8-menu-vertical-white-64.png" id="ha-menuicon">
            </div>

        </div>
    </header>

    <!-- NAV BAR -->
    <div class="nb-left-container">

        <h1 style="margin-top: 20px;">MAIN PAGES</h1>
    
        <div class="nb-mainpages-container">    

            <a href="#"><div class="nb-mainpages-home">
                 <img src="../static/src/icon/icons8-forum-darkblue-50.png" alt="Recruitment Default Icon" id="nb-forumicon">
                 <h2>Forum</h2>
            </div></a> 

            <a href="#"><div class="nb-mainpages-recruitment">
                <img src="../static/src/icon/icons8-resume-48.png" alt="Resume Default Icon" id="nb-resumeicon">
                <h2>Recruitment</h2>
            </div></a> 
        </div>

        <hr>

        <h1>OTHER PAGES</h1>

        <div class="nb-otherpages-container">

            <a href="#">
                <div class="nb-otherpages-applicationlisting">
                    <img src="../static/src/icon/icons8-list-48.png" alt="List Default Icon" id="nb-listicon">
                    <h2>View Application Listings</h2>
                </div>
            </a>

            <a href="#">
                <div class="nb-otherpages-applicantlisting">
                    <img src="../static/src/icon/icons8-name-tag-yellow-96.png" alt="Person Default Icon" id="nb-personicon">
                    <h2>View Applicants</h2>
                </div>
            </a>

            <a href="#">
                <div class="nb-otherpages-likedposts">
                    <img src="../static/src/icon/icons8-heart-red-50.png" alt="Heart Default Icon" id="nb-hearticon">
                    <h2>Liked Posts</h2>
                </div>
            </a>

            <a href="#">
                <div class="nb-otherpages-bookmark">
                    <img src="../static/src/icon/icons8-bookmark-evendarkergreen-500.png" alt="Bookmark Default Icon" id="nb-bookmarkicon">
                    <h2>Bookmarked Posts</h2>
                </div>
            </a>

        </div>

        <hr>

        <h1>RESOURCES</h1>

        <div class="nb-resources-container">
            
            <a href="aboutus"><div class="nb-resources-aboutus">
                <img src="../static/src/icon/icons8-info-coolcolour-50.png" alt="Info Default Icon" id="nb-infoicon">
                <h2>About Us</h2>
            </div></a>
          

            <a href="#"><div class="nb-resources-faqs">
                <img src="../static/src/icon/icons8-faq-gray-50.png" alt="FAQ Default Icon" id="nb-faqicon">
                <h2>FAQs</h2>
            </div></a>

            <a href="#"><div class="nb-resources-tnc">
                <img src="../static/src/icon/icons8-scales-48.png" alt="Scales Default Icon" id="nb-scalesicon">
                <h2>Terms and Conditions</h2>
            </div></a>

        </div>

    </div>
    

    <!-- EDIT POST CONTENT -->
    <div class="erp-main-container">
        <div class="erp-title-container">
            <h1>Edit Recruitment Post</h1>
        </div>

        <!-- FORUM FIELDS -->
        <form action="/upload" method="POST" enctype="multipart/form-data" id="erp-recruitment-form">
            <div id="erp-recruitmentInputs">

                <h1>Title</h1>
                <input type="text" id="erp-recruit-title-text">

                <div class="erp-image-title-container">
                    <h1>Image</h1>
                    <input type="file" id="erp-changeimage-button" hidden>
                    <label for="erp-changeimage-button" class="erp-change-button">Change</label>
                </div>

                <div id="erp-recruitment-drop-area">
                    <div class="erp-recruitment-imagecontainer" id="erp-recruitment-imageview">
                        <img src="../static/src/img/basketball-club.png" alt="" style="width: 100%; height: 100%; object-fit: contain;">
                    </div>
                </div>
        
                <h1>Caption</h1>
                <textarea name="caption" id="erp-recruitment-caption-text" placeholder="Enter your caption here..."></textarea>
        
                <div class="erp-recruitment-button-container">
                    <button class="erp-recruitment-post-button" id="erp-post-button" type="submit">Post</button>
                </div>
            </div>
        </form>
    </div>

    <footer>
        
        <div class="header-footer-main-container">
            
            <div class="header-footer-container1">
                <img src="../static/src/icon/icons8-recruitment-blue-50.png" alt="Recruitment Icon" class="header-footer-recruitmentblueicon">
                <h2>Recruitment</h2>
            </div>
    
            <div class="header-footer-container2">
                <img src="../static/src/icon/icons8-resume-white-50.png" alt="Recruit Icon" class="header-footer-recruitwhiteicon">
                <h2>Recruitment</h2>
            </div>
    
            <div class="header-footer-container3">
                <img src="../static/src/icon/icons8-notification-white-48.png" alt="Notification Icon" class="header-footer-notifwhiteicon">
                <h2>Notifications</h2>
            </div>
    
            <div class="header-footer-container4">
                <a href="profile.html"><img src="../static/src/img/default-pfp.png" alt="Profile Pic Icon" class="header-footer-pfpicon"></a>
                <h2>Profile</h2>
            </div>
    
        </div>
    
    </footer>


    <script>
        const dropAreaRecruitment = document.getElementById('erp-recruitment-drop-area');
        const inputFileRecruitment = document.getElementById('erp-changeimage-button');
        const imageViewRecruitment = document.getElementById('erp-recruitment-imageview').querySelector('img');
    
        function uploadRecruitmentImage() {
            if (inputFileRecruitment.files.length > 0) {
                let recruitmentImgLink = URL.createObjectURL(inputFileRecruitment.files[0]);
                imageViewRecruitment.src = recruitmentImgLink; 
                imageViewRecruitment.style.display = 'block'; 
            }
        }
    
        // Drag and drop functionality
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropAreaRecruitment.addEventListener(eventName, preventDefaults, false); 
            document.body.addEventListener(eventName, preventDefaults, false); 
        });
    
        dropAreaRecruitment.addEventListener('dragover', highlight, false);
        dropAreaRecruitment.addEventListener('dragleave', unhighlight, false);
        dropAreaRecruitment.addEventListener('drop', handleRecruitmentDrop, false);
    
        function handleRecruitmentDrop(e) {
            let dt = e.dataTransfer;
            let files = dt.files;
    
            inputFileRecruitment.files = files;
            uploadRecruitmentImage();
        }
    
        
        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }
    
        function highlight(e) {
            e.currentTarget.classList.add('highlight');
        }
    
        function unhighlight(e) {
            e.currentTarget.classList.remove('highlight');
        }
    
        inputFileRecruitment.addEventListener("change", uploadRecruitmentImage);
        
    </script>

</body>
</html>