{% extends "header-b.html" %}
{% block title %}Events{% endblock title %}
{% block content %}
<body>
    <div class="content-card">
        <div class="card-header">
            <a href="profile" class="btn-icon">
                <img src="{{ url_for('static', filename='src/icon/icons8-back-96.png') }}" alt="Back Icon">
            </a>
            <h2>Events</h2>
        </div>

        <!-- This is a single event post -->
        <div class="activity-card">
            <div class="activity-flex">
                <div class="activity-attr">
                    <sub>2 weeks ago</sub>
                    <h3>This is an event title</h3>
                    <p>This is an event description</p>
                </div>
                <div class="activity-img">
                    <img src="{{ url_for('static', filename='src/img/default-events.jpg') }}" alt="Placeholder Image">
                </div>
            </div>
        </div>

        <!-- This is another event post -->
        <div class="activity-card">
            <div class="activity-flex">
                <div class="activity-attr">
                    <sub>1 month ago</sub>
                    <h3>This is an event title</h3>
                    <p>This is an event description</p>
                </div>
                <div class="activity-img">
                    <img src="{{ url_for('static', filename='src/img/default-events.jpg') }}" alt="Placeholder Image">
                </div>
            </div>
        </div>

        <!-- Add additional event posts here -->

    </div>
</body>
{% endblock content %}