<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/src/favicon/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>APNet</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #F7F7F7;
            min-height: 100vh;
            padding-bottom: 50px;
        }  
    
    </style>
</head>
<body>
    <!-- HEADER CONTENT -->
    <header>
        <div class="ha-main-container">

            <div class="ha-logo-container">
                <a href="/"><img src="../static/src/img/apnet-logo.png" id="ha-logo-img"></a>
            </div>

            <div class="ha-search-container">
                <input type="text" id="ha-searchbar" placeholder="Search APNet...">
            </div>
            
            <div class="ha-right-container">

                <div class="ha-createpost-container">
                    <a href="forumspecific.html">                        
                        <img src="../static/src/icon/icons8-plus-48.png" alt="Plus" id="ha-plusicon">
                        <h2>Create Post</h2>
                    </a>
                </div>

                <img src="../static/src/icon/icons8-notification-50.png" alt="Notification Icon" id="ha-notificon">
                <div class="fm-notif-main-container">
                    <h2>Notifications</h2>
                    <!-- INSERT NOTIFICATIONS -->
                    <ul>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
            
                    </ul>
            
                    <h3><-------- NO NEW NOTIFICATIONS --------></h3>
                </div>

                <img src="../static/src/img/default-pfp.png" alt="Pfp" id="ha-pfpimg">
                <div class="ha-popup-menu" id="ha-popup-menu">
                    <ul>
                        <li><a href="settings.html">Settings</a></li>
                        <li><a href="profile.html">My Profile</a></li>
                        <li><a href="bookmarkedposts.html">Bookmarks</a></li>
                        <li><a href="logout.html">Logout</a></li>
                    </ul>
                </div>
            </div>

            <div class="ha-right-responsive-container">
                <img src="../static/src/icon/icons8-search-60.png" id="ha-searchicon">
                <img src="../static/src/icon/icons8-menu-vertical-white-64.png" id="ha-menuicon">
            </div>

        </div>
    </header>
    

    <!-- NAV BAR -->
    <div class="nb-left-container">

        <h1 style="margin-top: 20px;">MAIN PAGES</h1>
    
        <div class="nb-mainpages-container">    

            <a href="#"><div class="nb-mainpages-home">
                 <img src="../static/src/icon/icons8-forum-darkblue-50.png" alt="Forum Default Icon" id="nb-forumicon">
                 <h2>Forum</h2>
            </div></a> 

            <a href="#"><div class="nb-mainpages-recruitment">
                <img src="../static/src/icon/icons8-resume-48.png" alt="Resume Default Icon" id="nb-resumeicon">
                <h2>Recruitment</h2>
            </div></a> 
        </div>

        <hr>

        <h1>OTHER PAGES</h1>

        <div class="nb-otherpages-container">

            <a href="#">
                <div class="nb-otherpages-applicationlisting">
                    <img src="../static/src/icon/icons8-list-48.png" alt="List Default Icon" id="nb-listicon">
                    <h2>View Application Listings</h2>
                </div>
            </a>

            <a href="#">
                <div class="nb-otherpages-applicantlisting">
                    <img src="../static/src/icon/icons8-name-tag-yellow-96.png" alt="Person Default Icon" id="nb-personicon">
                    <h2>View Applicants</h2>
                </div>
            </a>

            <a href="#">
                <div class="nb-otherpages-likedposts">
                    <img src="../static/src/icon/icons8-heart-red-50.png" alt="Heart Default Icon" id="nb-hearticon">
                    <h2>Liked Posts</h2>
                </div>
            </a>

            <a href="#">
                <div class="nb-otherpages-bookmark">
                    <img src="../static/src/icon/icons8-bookmark-evendarkergreen-500.png" alt="Bookmark Default Icon" id="nb-bookmarkicon">
                    <h2>Bookmarked Posts</h2>
                </div>
            </a>

        </div>

        <hr>

        <h1>RESOURCES</h1>

        <div class="nb-resources-container">
            
            <a href=""><div class="nb-resources-aboutus">
                <img src="../static/src/icon/icons8-info-coolcolour-50.png" alt="Info Default Icon" id="nb-infoicon">
                <h2>About Us</h2>
            </div></a>
          

            <a href="#"><div class="nb-resources-faqs">
                <img src="../static/src/icon/icons8-faq-gray-50.png" alt="FAQ Default Icon" id="nb-faqicon">
                <h2>FAQs</h2>
            </div></a>

            <a href="#"><div class="nb-resources-tnc">
                <img src="../static/src/icon/icons8-scales-48.png" alt="Scales Default Icon" id="nb-scalesicon">
                <h2>Terms and Conditions</h2>
            </div></a>

        </div>

    </div>

    <!-- BODY CONTENT -->
    <div class="fm-main-container" id="postContainer">
        
        <div id="no-more-posts" style="display:none; text-align: center; font-size: 20px;">No more posts to load</div>
        
        
        <!-- POST LAYOUT -->
        <!-- <div class="fm-post-layout">

            <div class="fm-profiledetails"> -->
                <!-- INSERT PFP HERE -->
                <!-- <img src="../static/src/img/default-pfp.png" alt="Default pfp icon" id="fm-post-pfp"> -->
                <!-- INSERT USERNAME HERE -->
                <!-- <a href="profile.html"><h1>INSERT USERNAME</h1></a> -->
                <!-- INSERT LAST CREATION DATE THING -->
                <!-- <h2> • </h2>
                <h2>Posted x days ago</h2> -->

                <!-- <a href="forumspecific.html" class="fm-clickable-container"></a> -->

                <!-- <div class="fm-more-container">
                    <div class="fm-dropdown">
                        <span><img src="../static/src/icon/icons8-ellipsis-48.png" alt="Elipses" id="fm-moreicon" height="24" width="24"></span>
                        <div class="fm-dropdown-content">
                            <a href="#" class="fm-dropdown-item">
                                <img src="../static/src/icon/icons8-flag-48.png" alt="Report Post" id="fm-reportposticon" height="20" width="20"> Report Post
                            </a>
                            <a href="#" class="fm-dropdown-item">
                                <img src="../static/src/icon/icons8-danger-50.png" alt="Report User" id="fm-reportusericon" height="20" width="20"> Report User
                            </a>
                            <a href="#" class="fm-dropdown-item">
                                <img src="../static/src/icon/icons8-edit-96.png" alt="Edit" id="fm-editicon" height="20" width="20">Edit Post
                            </a>
                            <a href="#" class="fm-dropdown-item">
                                <img src="../static/src/icon/icons8-delete-48.png" alt="Delete" id="fm-deleteicon" height="20" width="20">Delete Post
                            </a>
                        </div>
                    </div>
                </div>                

            </div> -->

            <!-- <div class="fm-image-container"> -->
                <!-- INSERT IMAGE HERE -->
                <!-- <img src="../static/src/img/randomimage3.jpg" alt="">
            </div>
            
            <div class="fm-button-container"> -->

                
                <!-- LIKE BUTTON -->
                <!-- <div class="fm-like-icon-container">
                    <img src="../static/src/icon/icons8-heart-50.png" alt="Heart" id="fm-post-hearticon">
                    <h2>Like</h2> -->
                    <!-- LIKE AMOUNT -->
                    <!-- <h4>(12)</h4>
                </div> -->
                

                <!-- COMMENT BUTTON -->
                <!-- <a href="forumspecific.html" class="fm-comment-icon-container">
                    <img src="../static/src/icon/icons8-comment-50.png" alt="Comment" id="fm-post-commenticon">
                    <h2>Comment</h2> -->
                    <!-- COMMENT AMOUNT -->
                    <!-- <h4>(0)</h4>
                </a> -->


                <!-- BOOKMARK BUTTON -->
                <!-- <img src="../static/src/icon/icons8-bookmark-50.png" alt="Bookmark" id="fm-post-bookmarkicon">

            </div> -->


            <!-- INSERT CAPTION -->
            <!-- <div class="fm-caption-container">
                <h1>INSERT USERNAME</h1>
                <h2>The rain drummed against the cobblestone streets as neon signs flickered in the misty night. A stranger in a tattered coat hurried past, clutching a leather-bound book with golden edges. In the distance, a train whistled, its echo swallowed by the howling wind. A small café glowed warmly, steam curling from porcelain cups as an old radio played a forgotten tune. The scent of freshly baked bread mixed with the distant sea breeze. Somewhere, a dog barked, chasing its own shadow in the dim light.</h2>
            </div>

        </div> -->











        <!-- DUMMY POST FOR CSS STYLING PURPOSES -->

        <!-- <div class="fm-post-layout">
            
            <div class="fm-profiledetails"> -->
                <!-- INSERT PFP HERE -->
                <!-- <img src="../static/src/img/default-pfp.png" alt="Default pfp icon" id="fm-post-pfp"> -->
                <!-- INSERT USERNAME HERE -->
                <!-- <h1>INSERT USERNAME</h1> -->
                <!-- INSERT LAST CREATION DATE THING -->
                <!-- <h2> • </h2>
                <h2>Posted x days ago</h2>
            </div>

            <div class="fm-image-container"> -->
                <!-- INSERT IMAGE HERE -->
                <!-- <img src="../static/src/img/randomimage2.jpg" alt="">
            </div>

            <div class="fm-button-container">
                <img src="" alt="">
            </div>

        </div> -->
    
        <div id="loading" style="display:none;">Loading...</div>

    </div>


    <!-- NOTIFICATION POPUP MENU -->





    <!-- FOOTER CONTENT -->
    <footer>
        
        <div class="header-footer-main-container">
            
            <div class="header-footer-container1">
                <img src="../static/src/icon/icons8-forum-blue-50.png" alt="Forum Icon" class="header-footer-forumblueicon">
                <h2>Forum</h2>
            </div>
    
            <div class="header-footer-container2">
                <img src="../static/src/icon/icons8-resume-white-50.png" alt="Recruit Icon" class="header-footer-recruitwhiteicon">
                <h2>Recruitment</h2>
            </div>
    
            <div class="header-footer-container3">
                <img src="../static/src/icon/icons8-notification-white-48.png" alt="Notification Icon" class="header-footer-notifwhiteicon">
                <h2>Notifications</h2>
            </div>
    
            <div class="header-footer-container4">
                <a href="profile.html"><img src="../static/src/img/default-pfp.png" alt="Profile Pic Icon" class="header-footer-pfpicon"></a>
                <h2>Profile</h2>
            </div>
    
        </div>
    
    </footer>

    <script>
        // document.addEventListener("DOMContentLoaded", function() {
            // TOGGLING FM-NOTIF-MAIN-CONTAINER
            // var notifIcon = document.getElementById('ha-notificon');
            // var notifContainer = document.querySelector('.fm-notif-main-container');

            // notifIcon.addEventListener('click', function(event) {
            //     if (notifContainer.style.display === "flex") {
            //         notifContainer.style.display = "none";
            //         notifIcon.src = "../static/src/icon/icons8-notification-50.png"; 
            //     } else {
            //         notifContainer.style.display = "flex";
            //         notifIcon.src = "../static/src/icon/icons8-notification-blue-48.png"; 
            //     }
            //     event.stopPropagation(); 
            // });

            // PFP DROPDOWN
            // var profileImg = document.getElementById('ha-pfpimg');
            // var popupMenu = document.getElementById('ha-popup-menu');

            // profileImg.addEventListener('click', function(event) {
            //     if (popupMenu.style.display === "block") {
            //         popupMenu.style.display = "none";
            //     } else {
            //         popupMenu.style.display = "block";
            //     }
            //     event.stopPropagation();
            // });


            // CLOSING THE CONTAINER IF CLICKED ELSEWHERE
        //     document.addEventListener('click', function(event) {
        //         if (!notifIcon.contains(event.target) && !notifContainer.contains(event.target)) {
        //             notifContainer.style.display = "none";
        //             notifIcon.src = "../static/src/icon/icons8-notification-50.png";
        //         }
        //         if (!profileImg.contains(event.target) && !popupMenu.contains(event.target)) {
        //             popupMenu.style.display = "none";
        //         }
        //     });
        // });
    </script>

    <script>
        
        let currentPage = 1;
        let loadedPostIds = new Set();
        const postContainer = document.getElementById('postContainer');
        const loadingIndicator = document.getElementById('loading');
        let isLoading = false;

        // Loading Post
        function loadPosts(searchTerm = '') {
            if (isLoading) return;

            isLoading = true;
            loadingIndicator.style.display = 'block';

            const postIds = Array.from(postContainer.querySelectorAll('.fm-post-layout'))
                .map(post => post.getAttribute('data-post-id'))
                .filter(postId => postId && postId.trim() !== "");

            postIds.forEach(postId => loadedPostIds.add(postId));

            const url = '/load_more_post?page=' + currentPage + 
                        '&loaded_post_ids=' + JSON.stringify(Array.from(loadedPostIds)) + 
                        (searchTerm ? '&search=' + encodeURIComponent(searchTerm) : '');

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.post_html) {
                        postContainer.insertAdjacentHTML('beforeend', data.post_html);
                        currentPage++;
                        filter3DotMenu(data.user_id);
                    }

                    let noMorePostsMessage = document.getElementById('no-more-posts');
                    if (noMorePostsMessage) {
                        noMorePostsMessage.remove();
                    }

                    if (data.no_more_posts) {
                        noMorePostsMessage = document.createElement('div');
                        noMorePostsMessage.id = 'no-more-posts';
                        noMorePostsMessage.style.textAlign = 'center';
                        noMorePostsMessage.style.fontSize = '20px';
                        noMorePostsMessage.textContent = 'No more posts to load';

                        postContainer.appendChild(noMorePostsMessage);
                    }

                    loadingIndicator.style.display = 'none';
                    isLoading = false;
                })
                .catch(error => {
                    console.error('Error loading posts:', error);
                    loadingIndicator.style.display = 'none';
                    isLoading = false;
                });
        }

        // 3 Dot Menu Filter
        function filter3DotMenu(loggedInUserId) {
            document.querySelectorAll(".fm-post-layout").forEach(post => {
                const postUserId = post.getAttribute("data-user-id");
                const dropdown = post.querySelector(".fm-dropdown-content");

                if (dropdown) {
                    const reportPost = dropdown.querySelector("#fm-reportposticon")?.parentElement;
                    const reportUser = dropdown.querySelector("#fm-reportusericon")?.parentElement;
                    const editPost = dropdown.querySelector("#fm-editicon")?.parentElement;
                    const deletePost = dropdown.querySelector("#fm-deleteicon")?.parentElement;

                    if (reportPost && reportUser && editPost && deletePost) {
                        if (String(loggedInUserId) === String(postUserId)) {
                            reportPost.style.display = "none";
                            reportUser.style.display = "none";
                            editPost.style.display = "block";
                            deletePost.style.display = "block";
                        } else {
                            reportPost.style.display = "block";
                            reportUser.style.display = "block";
                            editPost.style.display = "none";
                            deletePost.style.display = "none";
                        }
                    }
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            // 3 Dot Menu
            document.body.addEventListener('click', function(event) {
                const clickedDropdown = event.target.closest('.fm-dropdown');
                
                if (clickedDropdown) {
                    const dropdownContent = clickedDropdown.querySelector('.fm-dropdown-content');
                    
                    document.querySelectorAll('.fm-dropdown-content').forEach(function(dropdown) {
                        if (dropdown !== dropdownContent) { 
                            dropdown.style.display = 'none';
                        }
                    });

                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none"; 
                    } else {
                        dropdownContent.style.display = "block";
                    }

                    event.stopPropagation();
                } else {
                    document.querySelectorAll('.fm-dropdown-content').forEach(function(dropdown) {
                        dropdown.style.display = 'none';
                    });
                }
            });

            // 3 Dot Menu Scroll
            window.addEventListener('scroll', function() {
                document.querySelectorAll('.fm-dropdown-content').forEach(function(dropdown) {
                    dropdown.style.display = 'none';
                });
            });

            // Searchbar
            const searchContainer = document.getElementById('ha-searchbar');
            searchContainer.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault(); 

                    const searchTerm = searchContainer.value.trim();

                    if (searchTerm) {
                        window.location.href = "/?search=" + encodeURIComponent(searchTerm);
                    }
                }
            });
        
            const urlParams = new URLSearchParams(window.location.search);
            const searchTerm = urlParams.get('search') || '';
            loadPosts(searchTerm);
        });

        // Scrolling
        window.addEventListener('scroll', () => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight - 10 && !isLoading) {
                loadPosts();
            }
        });     
    </script>

</body>
</html>