<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/src/favicon/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="hb-main-container">

            <a class="hb-logo-container" href="/">
                <img src="../static/src/img/apnet-logo.png" alt="APNet logo" id="hb-logo-img">
            </a>

            <div class="hb-right-container">

                <a href="/"><h1>Forum</h1></a>
                <a href="/recruitment"><h1>Recruitment</h1></a>
                <a href="/aboutus"><h1>About Us</h1></a>
                <a href="/faq"><h1>FAQ</h1></a>
                <a href="/terms"><h1>Terms of Service</h1></a> 
                <a href="/auth/login"><h1 style="color: #007bff; text-decoration: underline;">Sign In</h1></a> 
                <!-- <img src="../static/src/img/default-pfp.png" alt="Pfp" id="hb-pfp-img"> -->

            </div>

            <div class="hb-responsive-right-container">
                <img src="../static/src/icon/icons8-menu-vertical-96.png" alt="help">
            </div>

        </div>
    </header>

    <footer>
        <div class="header-footer-main-container">
            
            <div class="header-footer-container1">
                <img src="../static/src/icon/icons8-forum-blue-50.png" alt="Forum Icon" class="header-footer-forumblueicon">
                <h2>Forum</h2>
            </div>
    
            <div class="header-footer-container2">
                <img src="../static/src/icon/icons8-resume-white-50.png" alt="Recruit Icon" class="header-footer-recruitwhiteicon">
                <h2>Recruitment</h2>
            </div>
    
            <div class="header-footer-container3">
                <img src="../static/src/icon/icons8-notification-white-48.png" alt="Notification Icon" class="header-footer-notifwhiteicon">
                <h2>Notifications</h2>
            </div>
    
            <div class="header-footer-container4">
                <a href="profile.html"><img src="../static/src/img/default-pfp.png" alt="Profile Pic Icon" class="header-footer-pfpicon"></a>
                <h2>Profile</h2>
            </div>
    
        </div>
    </footer>

    {% block content %}
    {% endblock %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // HEADER PFP DROPDOWN
            var profileImg = document.getElementById('hb-pfp-img');
            var popupMenu = document.getElementById('hb-popup-menu');

            profileImg.addEventListener('click', function(event) {
                if (popupMenu.style.display === "block") {
                    popupMenu.style.display = "none";
                } else {
                    popupMenu.style.display = "block";
                }
                event.stopPropagation();
                });


            // CLOSES DROPDOWNS IF CLICKED ELSEWHERE
            document.addEventListener('click', function(event) {
                if (!profileImg.contains(event.target) && !popupMenu.contains(event.target)) {
                    popupMenu.style.display = "none";
                }
            });
        });
    </script>
</body>
</html>