<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/src/favicon/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/SearchBarFunction.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="ha-main-container">

            <div class="ha-logo-container">
                <a href="/"><img src="../static/src/img/apnet-logo.png" id="ha-logo-img"></a>
            </div>

            <div class="ha-search-container">
                <input type="text" id="ha-searchbar" placeholder="Search APNet...">
            </div>
            
            <div class="ha-right-container">

                <div class="ha-createpost-container">
                    <a href="/create">                        
                        <img src="../static/src/icon/icons8-plus-48.png" alt="Plus" id="ha-plusicon">
                        <h2>Create Post</h2>
                    </a>
                </div>

                <img src="../static/src/icon/icons8-notification-50.png" alt="Notification Icon" id="ha-notificon">
                <div class="fm-notif-main-container">
                    <h2>Notifications</h2>
                    <!-- INSERT NOTIFICATIONS -->
                    <ul>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
                        <li>
                            <img src="../static/src/img/aboutus-eventcollage.png" alt="Notifimg" id="fm-notifimg">
                            <b>INSERT USERNAME </b> has liked your post <i>1w</i>
                        </li>
            
                    </ul>
            
                    <h3><-------- NO NEW NOTIFICATIONS --------></h3>
                </div>
                {% if "user" not in session %}
                <a href="/auth/login" id="ha-signin"><h1 style="color: #007bff; text-decoration: underline;">Sign In</h1></a>
                {% else %}
                <img src="{{ session.get('pfp') }}" alt="Pfp" id="ha-pfpimg">
                <div class="ha-popup-menu" id="ha-popup-menu">
                    <ul>
                        <li><a href="/user/profile">My Profile</a></li>
                        <li><a href="/user/bookmarks">Bookmarks</a></li>
                        {% if session.get('role') == "A" %}
                        <li><a href="/dashboard">Dashboard</a></li>
                        {% endif %}
                        <li><a href="/user/settings">Settings</a></li>
                        <li><a class="header-logout" href="/auth/logout">Logout</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>

            <div class="ha-right-responsive-container">
                <img src="../static/src/icon/icons8-menu-vertical-white-64.png" id="ha-menuicon">
                <div class="ha-responsive-menu-popup" id="ha-responsive-menu-popup">
                    <ul>
                        {% if session.get('role') == "A" %}
                        <li><a href="/dashboard">Dashboard</a></li>
                        {% endif %}
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/user/settings">Settings</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </header>

    {% block content %}
    {% endblock %}


    <script>
        document.addEventListener("DOMContentLoaded", function() {

            // TOGGLING FM-NOTIF-MAIN-CONTAINER
            var notifIcon = document.getElementById('ha-notificon');
            var notifContainer = document.querySelector('.fm-notif-main-container');

            notifIcon.addEventListener('click', function(event) {
                if (notifContainer.style.display === "flex") {
                    notifContainer.style.display = "none";
                    notifIcon.src = "../static/src/icon/icons8-notification-50.png"; 
                } else {
                    notifContainer.style.display = "flex";
                    notifIcon.src = "../static/src/icon/icons8-notification-blue-48.png"; 
                }
                event.stopPropagation(); 
            });

            // PFP DROPDOWN
            var profileImg = document.getElementById('ha-pfpimg');
            var popupMenu = document.getElementById('ha-popup-menu');

            profileImg.addEventListener('click', function(event) {
                if (popupMenu.style.display === "block") {
                    popupMenu.style.display = "none";
                } else {
                    popupMenu.style.display = "block";
                }
                event.stopPropagation();
            });

            // RESPONSIVE HEADER MENU DROPDOWN
            var menuIcon = document.getElementById('ha-menuicon');
            var menuPopup = document.getElementById('ha-responsive-menu-popup');

            menuIcon.addEventListener('click', function(event) {
                if (menuPopup.style.display === "block") {
                    menuPopup.style.display = "none";
                } else {
                    menuPopup.style.display = "block";
                }
                event.stopPropagation();
            });


            // CLOSING THE CONTAINER IF CLICKED ELSEWHERE
            document.addEventListener('click', function(event) {
                if (!notifIcon.contains(event.target) && !notifContainer.contains(event.target)) {
                    notifContainer.style.display = "none";
                    notifIcon.src = "../static/src/icon/icons8-notification-50.png";
                }
                if (!profileImg.contains(event.target) && !popupMenu.contains(event.target)) {
                    popupMenu.style.display = "none";
                }
            });

            // SEARCHBAR JAVASCRIPT
            const searchContainer = document.getElementById('ha-searchbar');
            searchContainer.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault(); 

                    const searchTerm = searchContainer.value.trim();

                    if (searchTerm) {
                        window.location.href = "/?search=" + encodeURIComponent(searchTerm);
                    }
                }
            });
        });
    </script>
    
</body>
</html>