{% extends "header-c.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<body class="lg-body">
    <div class= "lg-img-loginbackground">
        <img src="../static/src/img/loginbackground.png" alt="Login background">
    </div>

    <div class="lg-main-container">
        
        <div class="lg-form-blur-container">
        </div>
        <form action="" method="POST" class="lg-form">

            <h1>Login</h1>

            <div class="lg-inputcredentials">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="email" required>
                <label for="">Email</label> 
            </div>
    
            <div class="lg-inputcredentials">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" required>
                <label for="">Password</label>  
            </div>
    
            <div style="width: 90%; margin: -15px auto auto; color: red;">
                <p>{{errmsg}}</p>
            </div>
            
            <div class="lg-forget">
                <a href="{{ url_for('auth.resetpassword') }}"> <b>Forgot Password</b></a>
            </div>
            <button type="submit" id="lg-button">Log in</button>
            <div class="lg-register">
                <p>Don't have an account? <a href="register"><b>Register Now</b></a></p>
            </div>
        </form>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>

</body>

{% endblock content %}