{% extends "layout.html" %}
{% block title %}Notification{% endblock title %}
{% block content %}
</head>
<body>
    <div class="content-card">
        <div class="card-header">
            <a href="profile" class="btn-icon">
                <img src="{{ url_for('static', filename='src/icon/icons8-back-96.png') }}" alt="Back Icon">
            </a>
            <h2>Notification</h2>
        </div>
        <div class="card-section">
            <!-- <h3>Bookmarks</h3> -->
            <p><a href="#">Darren Kong</a> bookmarked your <a href="#">post</a></p>
            <p><a href="#">Jeremiah Sii</a> bookmarked your <a href="#">post</a></p>
        </div>
    </div>
</body>
{% endblock content %}