{% extends "header-b.html" %}
{% block title %}Profile{% endblock title %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/PostFunction.js') }}" data-type="post" data-page="self" defer></script>

<body>
    <div class="content-card">
        <div class="profile">
            <div class="profile-img">
                <img src="{{ session.get('pfp') }}" alt="User Profile">
            </div>
            <div class="profile-desc">
                <h2>{{ name }}</h2>
                <p>{{ bio }}</p>
            </div>
            <div class="profile-btn">
                <div class="profile-btn-group">
                    <a href="settings" class="btn-icon">
                        <img src="{{ url_for('static', filename='src/icon/icons8-settings-96.png') }}" alt="Settings Icon">
                    </a>
                </div>
                {% if link %}
                <a href="{{ link }}" target="_blank" style="text-decoration: none;">
                    <button class="button-black">
                        <img src="{{ url_for('static', filename='src/icon/icons8-link-96.png') }}" alt="Add Icon">External Link
                    </button>
                </a>
                {% endif %}
            </div>
        </div>

        <div class="navigation">
            <a href="likes" class="button-black" style="text-decoration: none;">Likes</a>
            <a href="bookmarks" class="button-black" style="text-decoration: none;">Bookmarks</a>
            <a href="applications" class="button-black" style="text-decoration: none;">Applications</a>
        </div>

        <div class="profile-fm-main-container" id="postContainer">
            <div id="no-more-posts" style="display: none; text-align: center; font-size: 20px;">You have not posted anything yet :D</div>
        </div>

    </div>
</body>
{% endblock content %}