{% extends "layout.html" %}
{% block title %}Profile{% endblock title %}
{% block content %}
<body>
    <div class="content-card">
        <div class="profile">
            <div class="profile-img">
                <img src="{{ pfp }}" alt="Cat">
            </div>
            <div class="profile-desc">
                <h2>{{ name }}
                    <!-- <div class="verify-badge"><img src="{{ url_for('static', filename='src/icon/icons8-verify-96.png') }}" alt="Verified Checkmark"></div> -->
                    <div class="role-badge">Student</div>
                </h2>
                <p>{{ bio }}</p>
            </div>
            <div class="profile-btn">
                <div class="profile-btn-group">
                    <a href="notification" class="btn-icon">
                        <img src="{{ url_for('static', filename='src/icon/icons8-notification-96.png') }}" alt="Notification Icon">
                    </a>
                    <a href="setting" class="btn-icon">
                        <img src="{{ url_for('static', filename='src/icon/icons8-settings-96.png') }}" alt="Settings Icon">
                    </a>
                </div>
                <a href="{{ link }}" target="_blank" style="text-decoration: none;">
                    <button class="button-black">
                        <img src="{{ url_for('static', filename='src/icon/icons8-link-96.png') }}" alt="Add Icon">External Link
                    </button>
                </a>
            </div>
        </div>

        <div class="navigation">
            <button class="button-black">Posts</button>
            <button class="button-black">Bookmarks</button>
        </div>

        <div class="post">
            <div class="post-attr">
                <p>@cat • Recruitment</p>
                <p>1 week ago</p>
            </div>
            <div class="post-title">
                <h3>This is a post title</h3>
            </div>
            <div class="post-img">
                <img src="" alt="Post Image">
            </div>
            <div class="post-inter">
                <button class="button-grey">
                    <img src="{{ url_for('static', filename='src/icon/icons8-like-96.png') }}" alt="Like Icon">Like
                </button>
                <button class="button-grey">
                    <img src="{{ url_for('static', filename='src/icon/icons8-comment-96.png') }}" alt="Comment Icon">Comment
                </button>
                <button class="button-grey">
                    <img src="{{ url_for('static', filename='src/icon/icons8-bookmark-96.png') }}" alt="Bookmark Icon">Bookmark
                </button>
            </div>
        </div>
    </div>
</body>
{% endblock content %}