{% extends "header-b.html" %}
{% block title %}Recruitment Application{% endblock title %}
{% block content %}
<body class="rca-body">  
    <div class="rca-image-container">

    </div>

    <div class="rca-content-container">

        <div class="rca-top-container">
            
            <div class="rca-title-container">
                <!-- INSERT RECRUITMENT TITLE HERE -->
                <h2>Recruitment Title</h2>
            </div>

            <a href="recruitment.html" class="rca-back-container">
                <img src="../static/src/icon/icons8-undo-96.png" id="rca-undoicon">
                <h2>Back</h2>
            </a>
            
        </div>

        <div class="rca-info-container">

            <div class="rca-tpno-container">
                <h2>TP Number</h2>
                <input type="text" id="rca-tpno" placeholder="TP Number">
            </div>

            <div class="rca-role-container">
                <h2>Event Position</h2>
                <input type="text" id="rca-role" placeholder="Event Position">
            </div>
        </div>

        <div class="rca-desc-container">
            <h2>Tell us a little more about yourself</h2>
            <textarea name="" id="" cols="99" rows="18" placeholder="Enter your text here..."></textarea>
        </div>



    </div>
</body>
{% endblock content %}