{% extends "header-b.html" %}
{% block title %}Specific Forum{% endblock title %}
{% block content %}
<body class="rcas-body">

    <div class="rcas-main-container">

        <div class="rcas-content-container">
            <div class="rcas-top-container">
            
                <div class="rcas-title-container">
                    <h2>Recruitment Title</h2>
                </div>
    
                <a href="/user/applications/created" class="rcas-back-container">
                    <img src="../static/src/icon/icons8-undo-96.png" id="rcas-undoicon">
                    <h2>Back</h2>
                </a>
                
            </div>

            <div class="rcas-username-container">
                <h2>Username</h2>
                <div class="rcas-username-input">
                    <a href="profile.html" id="rcas-username">INSERT USERNAME</a>
                </div>
            </div>

            <div class="rcas-fullname-container">
                <h2>Full Name</h2>   
                                                        
                <input type="text" id="rcas-fullname" value="{{ fullname }}" readonly>
            </div>
            
            <div class="rcas-tpno-container">
                <h2>TP Number</h2>
                <input type="text" id="rcas-tpno" value="{{ tpnumber }}" readonly>
            </div>
    
            <div class="rcas-role-container">
                <h2>Event Position</h2>
                <input type="text" id="rcas-role" value="{{ eventposition }}" readonly>
            </div>
    
            <div class="rcas-phoneno-container">
                <h2>Phone Number</h2>
                <input type="text" id="rcas-phoneno" value="{{ phonenumber }}" readonly>
            </div>

            <div class="rcas-desc-container">
                <h2>Tell us a little more about yourself</h2>
                <textarea name="" id="" cols="99" rows="18" placeholder="{{ description }}" readonly></textarea>
            </div>
    
            <form action="" id="rcas-form">
                <div class="rcas-button-container">
                    <button class="rcas-button" style="background-color: rgb(255, 40, 40); margin-right: 10px;" id="rcas-reject-button">Reject</button>
                    <button class="rcas-button" style="background-color: rgb(53, 244, 53);" id="rcas-reject-button">Accept</button>
                </div>
            </form>

        </div>

        <div class="rcas-image-container">
            <img src="../static/src/img/basketball-club.png" alt="">
        </div>

    </div>

    <footer>
        <div class="header-footer-main-container">
            
            <div class="header-footer-container1">
                <img src="../static/src/icon/icons8-forum-blue-50.png" alt="Forum Icon" class="header-footer-forumblueicon">
                <h2>Forum</h2>
            </div>
    
            <div class="header-footer-container2">
                <img src="../static/src/icon/icons8-resume-white-50.png" alt="Recruit Icon" class="header-footer-recruitwhiteicon">
                <h2>Recruitment</h2>
            </div>
    
            <div class="header-footer-container3">
                <img src="../static/src/icon/icons8-notification-white-48.png" alt="Notification Icon" class="header-footer-notifwhiteicon">
                <h2>Notifications</h2>
            </div>
    
            <div class="header-footer-container4">
                <a href="profile.html"><img src="../static/src/img/default-pfp.png" alt="Profile Pic Icon" class="header-footer-pfpicon"></a>
                <h2>Profile</h2>
            </div>
    
        </div>
    </footer>

</body>
</html>
{% endblock content %}