{% extends "header-c.html" %}
{% block title %}Register{% endblock title %}
{% block content %}

<body class="rg-body">
    <div class="rg-img-registerbackground">
        <img src="../static/src/img/registerbackground.jpg">
    </div>

    <div class="rg-container">

        <div class="rg-blur-container"></div>

        <div class="rg-register-box">
            <form id="register-user-form" action="" method="POST">

                <h1>Register</h1>
                
                <div class="rg-input-group">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" name="username" required>
                    <label for="">Username</label>
                </div>
                
                <div class="rg-input-group">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="email" required>
                    <label for="">Email</label>
                </div>

                <div class="rg-input-group-container">
                    <div class="rg-input-group" style="width: 47%; margin-right: 33px; margin-bottom: 5px" >
                        <ion-icon name="briefcase-outline"></ion-icon>
                        <input type="text" name="fullname" required>
                        <label for="">Full Name</label>
                    </div>

                    <div class="rg-input-group" style="width: 47%; margin-bottom: 5px">
                        <ion-icon name="call-outline"></ion-icon>
                        <input type="tel" name="phone" required pattern="[0-9]*" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please enter a valid phone number (numeric only).')">
                        <label for="">Phone Number</label>
                    </div>
                </div>

                <div class="rg-genderbox">
                    <label id="rg-gender-heading">Gender:</label>
                    <input type="radio" id="male" name="gender" value="M" required>
                    <label for="male">Male</label>
                
                    <input type="radio" id="female" name="gender" value="F" required>
                    <label for="female">Female</label>
                </div>

                <div class="rg-input-group">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" id="password" name="password" required>
                    <label for="">Password</label>
                </div>
                <div class="rg-input-group">
                    <ion-icon name="checkmark-outline"></ion-icon>
                    <input type="password" id="confirm-password" required>
                    <label for="">Confirm Password</label>
                </div>
                <div style="width: 90%; margin: -13px auto 16px auto; color: red;">
                    <p>{{errmsg}}</p>
                </div>
                <div class="rg-checkbox">
                    <input type="checkbox" id="agree" required>
                    <label for="agree">I agree to the <a href="/terms" target="_blank">Terms of Service</a></label>
                </div>
                <button type="submit" class="rg-btn">Register</button>
            </form>
                <div class="rg-login">
                    <p>Already have an account? <a href="login">Login</a></p>
                </div>
        </div>
    </div>
    
    <script>
        document.getElementById('register-user-form').addEventListener('submit', function(e) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            if (password !== confirmPassword) {
                e.preventDefault();
                window.alert("Passwords do not match. Please enter again.");
                return;
            }
        });
    </script>

    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>

</body>
{% endblock content %}