{% extends "header-c.html" %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
<body class="rp-body">
    <div class="rp-content-card3">
        <div class="reset-password-flow">
            <sub>3/4</sub>
            <h2 class="rp-header-item">Reset Password</h2>
        </div>
        <div class="reset-password-card" id="new-password-section">
            <h3>Set a new password</h3>
            <form id="new-password-form" action="" method="POST">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="new-password" required>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" required>

                <input type="submit" value="Reset password" id="rp-submit-password">
            </form>
        </div>
    </div>
</body>
{% endblock content %}