{% extends "layout.html" %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
<body>
    <div class="content-card">
        <div class="reset-password-card" id="complete-section">
            <div class="reset-password-flow">
                <sub>4/4</sub>
            </div>
            <h3>Successfully reset password</h3>
            <p>You can now log in with your new password.</p>
            <div class="button-component">
                <a href="{{ url_for('auth.login') }}" style="text-decoration: none;">
                    <button class="button-black">Go to login</button>
                </a>
            </div>
        </div>
    </div>
</body>
{% endblock content %}