{% extends "layout.html" %}
{% block title %}Settings{% endblock title %}
{% block content %}
<body>
    <div class="content-card">
        <div class="card-header">
            <a href="profile" class="btn-icon">
                <img src="{{ url_for('static', filename='src/icon/icons8-back-96.png') }}" alt="Back Icon">
            </a>
            <h2>Settings</h2>
        </div>
        <div class="card-section">
            <h3>Profile</h3>
            <form action="/user/updateProfile" method="POST">
                <label for="pfp">Profile Picture</label>
                <input type="file" id="pfp" name="pfp" accept=".jpg, .jpeg, .png">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
                <p style="width: 90%; margin-top: -10px; margin-bottom: 10px; color: red;">{{erruser}}</p>
                <label for="bio">Bio</label>
                <input type="text" id="bio" name="bio">
                <p style="width: 90%; margin-top: -10px; margin-bottom: 10px; color: red;">{{errbio}}</p>
                <label for="link">External Link</label>
                <input type="url" id="link" name="link">

                <input type="submit" value="Update profile">
            </form>
        </div>
        <div class="card-section">
            <h3>Account</h3>
            <form action="/user/updateAccount" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="fullname">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email">
                <p style="width: 90%; margin-top: -10px; margin-bottom: 10px; color: red;">{{erremail}}</p>
                <input type="submit" value="Update account">
            </form>
        </div>
        <!-- <div class="card-section">
            <h3>Notification</h3>
            <form action="" method="POST">
                <div class="checkbox-container">
                    <div class="checkbox-item">
                        <label for="likes">Likes</label>
                        <input type="checkbox" id="likes" name="likes" value="true">
                    </div>
                    <div class="checkbox-item">
                        <label for="comments">Comments</label>
                        <input type="checkbox" id="comments" name="comments" value="true">
                    </div>
                    <div class="checkbox-item">
                        <label for="bookmarks">Bookmarks</label>
                        <input type="checkbox" id="bookmarks" name="bookmarks" value="true">
                    </div>
                </div>

                <input type="submit" value="Update notification">
            </form>
        </div> -->
        <div class="card-section">
            <h3>Security</h3>
            <div class="button-component">
                <a href="{{ url_for('auth.resetpassword') }}" style="text-decoration: none;">
                    <button class="button-black">Reset password</button>
                </a>
                <button class="button-red">Delete account</button>
            </div>
        </div>
    </div>
</body>
{% endblock content %}