<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/src/favicon/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <title>Document</title>

    <style>
        *  {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
    </style>

</head>

<body class="lg-body">

    <header>

        <div class="hb-main-container">

            <div class="hb-logo-container">
                <img src="../static/src/img/apnet-logo.png" alt="APNet logo" id="hb-logo-img">
            </div>

            <div class="hb-right-container">

                <a href="forum.html"><h1>Forum</h1></a>
                <a href="#"><h1>Recruitment</h1></a>
                <a href="aboutus.html"><h1>About Us</h1></a>
                <a href="faq.html"><h1>FAQ</h1></a>
                <a href="termsofservice.html"><h1>Terms of Service</h1></a> 

                <img src="../static/src/img/default-pfp.png" alt="Pfp" id="hb-pfp-img">
                <div class="hb-popup-menu" id="hb-popup-menu">
                    <ul>
                        <li><a href="settings.html">Settings</a></li>
                        <li><a href="profile.html">My Profile</a></li>
                        <li><a href="bookmarkedposts.html">Bookmarks</a></li>
                        <li><a href="logout.html">Logout</a></li>
                    </ul>
                </div>

            </div>

            <img src="../static/src/icon/icons8-menu-vertical-white-64.png" id="hb-menuicon">

        </div>

    </header>


    <div class= "lg-img-loginbackground">
        <img src="../static/src/img/loginbackground3.png"
         alt="login background" >
    </div>

    <div class="lg-main-container">

        <div class = "lg-img-title">
            <img src="../static/src/img/apnet-logo.png" alt="login logo">
        </div>
    
        <form action="" method="POST" class="lg-form">
            <div class="lg-inputcredentials">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="email" required>
                <label for="">Email</label>
            </div>
    
            <div class="lg-inputcredentials">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" required>
                <label for="">Password</label>
            </div>
    
            <div style="width: 90%; margin: -15px auto auto; color: red;">
                <p>{{errmsg}}</p>
            </div>
            
            <div class="lg-forget">
                <a href="{{ url_for('auth.resetpassword') }}">Forget Password</a>
            </div>
            <button type="submit" id="lg-button">Log in</button>
            <div class="lg-register">
                <p>Don't have an account? <a href="register">Register Now</a></p>
            </div>
        </form>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>

</body>
</html>